<!DOCTYPE html>
<html>

<head>

	<title>Arthur Cougé</title>
	<meta charset="utf-8">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<link rel="stylesheet" href="dist/style/style.css">

</head>

<body ng-app="myApp" ng-controller="myCtrl">
	<div class="container">
		<header id="titreCV" class="row">

			<div class="col-lg-10 titre">
				<h1 class="job">
					{{curiculumVitae.titre.job}}
				</h1>
				<h1 class="nom">
					{{curiculumVitae.titre.prenom}} <span class="nomFamille">{{curiculumVitae.titre.nom}}</span>
				</h1>
			</div>

			<div class="col-lg-2 photo">
				<img class="image" src="dist/style/img/photo.png">
			</div>
		
		</header>

		<main id="mainBlock" class="row">
			
			<div class="col-lg-4 competences">
				<h2 class="titre">
					Compétences
				</h2>
				<span class="polygone"></span>
				<ul class="competencesList">
					<li class="competence" ng-repeat="competence in curiculumVitae.competences" ng-init="loadSkillLevel()">
						<span class="text">{{competence[0]}}</span>
						<span class="level {{competence[1]}}">
							<span class="myLevel {{competence[1]}}"></span>
							<span class="levelBall levelBall{{ball}}" ng-repeat="ball in [1, 2, 3, 4]"></span>
						</span>
					</li>
				</ul>
				
			</div>

			<div class="col-lg-8 infoExperience">
				<div class="infos">
					<div class="topInfo">
						<span class="leftInfo">{{curiculumVitae.info.tel}}</span>
						<span class="rightInfo">{{curiculumVitae.info.age}}</span>
					</div>
					<div class="botInfo">
						<span class="leftInfo">{{curiculumVitae.info.mail}}</span>
						<span class="rightInfo">{{curiculumVitae.info.permis}}</span>
					</div>
					
				</div>
				<div class="experiences">
					<h2 class="titre">Expériences</h2>
					<span class="leftBar"></span>
					<div class="contenu">
						<div class="experience" ng-repeat="experience in curiculumVitae.experiences" ng-click="setActive($index)" ng-mouseover="setOver($index)" ng-mouseleave="setLeave($index)">
							
							<h3 class="titreExp">{{experience.titre}}
							<span class="leftPointer"></span>
							<span class="selector noLeft noRight noBottom noTop selector{{$index}}" ng-class="{active:$first, notActive:!$first}"></span></h3>
							<p class="contenuExp contenuExp{{$index}}" ng-class="{notActiveText:$first}">{{experience.contenu}}</p>
						</div>
					</div>

				</div>
				
			</div>

		</main>

		<main id="secondBlock" class="row">
			<span class="middleBar"></span>
			<div class="col-lg-7 formations">
				<h2 class="titre">Formations</h2>
				<ul class="contentForm">
					<li class="formation" ng-repeat="formation in curiculumVitae.formations" ng-class="{last:$last}">
						<h3 class="titreForm">{{formation.titre}}</h3>
						<p class="contenuForm">{{formation.contenu}}</p>
					</li>
				</ul>
			</div>
			<div class="col-lg-5 projets">
				<h2 class="titre">Projets</h2>
				<ul class="contentProj">
					<li class="projet" ng-repeat="projet in curiculumVitae.projets" ng-class="{last:$last}">
						<h3 class="titreProj">{{projet.titre}}</h3>
						<p class="contenuProj">{{projet.contenu}}</p>
					</li>
				</ul>
			</div>
			
		</main>

		<footer id="aboutMe" class="row">
			<h2 class="titre">About me</h2>
			<div class="contenu">
				<div class="col-lg-4 resSoc">
					<h3 class="titreDetail">{{curiculumVitae.aboutMe[0].titre}}</h3>
					<ul class="listRs">
						<li class="infoRs rs{{$index}}" ng-repeat="contenu in curiculumVitae.aboutMe[0].contenu" ng-class="{notFirst:!$first}" ng-click="goToRs($index)">
							<img ng-src="{{contenu}}">
							<span class="hoverRs"></span>
						</li>
					</ul>
				</div>
				<div class="col-lg-4 iAm">
					<h3 class="titreDetail">{{curiculumVitae.aboutMe[1].titre}}</h3>
					<ul class="listAboutMe">
						<li class="infoAboutMe" ng-repeat="contenu in curiculumVitae.aboutMe[1].contenu">{{contenu}}</li>
					</ul>
				</div>
				<div class="col-lg-4 iLike">
					<h3 class="titreDetail">{{curiculumVitae.aboutMe[2].titre}}</h3>
					<ul class="listAboutMe">
						<li class="infoAboutMe" ng-repeat="contenu in curiculumVitae.aboutMe[2].contenu">{{contenu}}</li>
					</ul>
				</div>
			</div>	
		</footer>
	</div>

	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="dist/app.js"></script>

</body>

</html>