@font-face {
  font-family: 'CODE';
  src: url('fonts/CODE Bold.otf');
}
@font-face {
  font-family: 'Avenir';
  src: url('fonts/AvenirNextLTPro-Regular.otf');
}
@font-face {
  font-family: 'Avenir';
  src: url('fonts/AvenirNextLTPro-Demi.otf');
  font-weight: bold;
}
@media (max-width: 991px) {
  #mainContainer {
    width: auto !important;
  }
}
#titreCV {
  padding-top: 40px;
}
@media (max-width: 991px) {
  #titreCV {
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;
  }
}
@media (max-width: 991px) and (max-width: 530px) {
  #titreCV {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 991px) and (max-width: 530px) and (max-width: 503px) {
  #titreCV {
    padding-top: 30px;
  }
}
#titreCV .titre .job {
  font-family: CODE;
  font-size: 4.0em;
  color: #065ba1;
  text-shadow: 1px 1px 2px rgba(2, 27, 47, 0.5);
  font-weight: lighter;
  margin-top: 0px;
}
@media (max-width: 1199px) {
  #titreCV .titre .job {
    font-size: 3.0em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #titreCV .titre .job {
    font-size: 2.5em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) and (max-width: 503px) {
  #titreCV .titre .job {
    font-size: 1.7em;
  }
}
#titreCV .titre .nom {
  font-family: 'Avenir', sans-serif;
  font-size: 3.0em;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 3px rgba(90, 90, 90, 0.25);
  margin-top: 40px;
  margin-bottom: 0px;
}
#titreCV .titre .nom .nomFamille {
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  #titreCV .titre .nom {
    font-size: 2.5em;
    margin-top: 20px;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #titreCV .titre .nom {
    font-size: 2em;
    margin-top: 5px;
  }
}
@media (max-width: 1199px) and (max-width: 991px) and (max-width: 503px) {
  #titreCV .titre .nom {
    font-size: 1.5em;
  }
}
#titreCV .photo .image {
  width: 80%;
  box-shadow: 1px 2px 5px rgba(144, 144, 144, 0.5);
  min-width: 66.016px;
}
@media (max-width: 1199px) {
  #titreCV .photo .image {
    width: 70%;
  }
}
@media (max-width: 503px) {
  #titreCV .photo .image {
    min-width: 50px;
  }
}
@media (max-width: 503px) {
  #titreCV .photo {
    padding: 0px;
  }
}
#mainBlock {
  margin-top: 60px;
  box-shadow: 1px 2px 5px #909090;
}
@media (min-width: 991px) {
  #mainBlock {
    height: 460px;
  }
}
@media (max-width: 1199px) {
  #mainBlock {
    margin-top: 30px;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #mainBlock {
    margin-top: 15px;
  }
}
#mainBlock .competences {
  padding: 0px;
  background-color: #021b2f;
}
@media (min-width: 991px) {
  #mainBlock .competences {
    height: 100%;
  }
}
#mainBlock .competences .titre {
  position: relative;
  z-index: 1;
  font-size: 2.5em;
  font-family: 'Avenir', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #37362d;
  text-shadow: 1px 1px 3px rgba(90, 90, 90, 0.25);
  margin: 0px;
  padding: 30px 0px;
  background-color: #fada00;
}
@media (max-width: 1199px) {
  #mainBlock .competences .titre {
    font-size: 2.2em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #mainBlock .competences .titre {
    font-size: 2em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) and (max-width: 503px) {
  #mainBlock .competences .titre {
    font-size: 1.5em;
  }
}
#mainBlock .competences .polygone {
  background-image: url('img/flecheComp.png');
  position: absolute;
  top: 13%;
  left: 43%;
  transform: rotate(45deg);
  width: 50px;
  height: 50px;
}
@media (max-width: 1199px) {
  #mainBlock .competences .polygone {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #mainBlock .competences .polygone {
    width: 45px;
    height: 45px;
    left: 45%;
  }
}
@media (max-width: 1199px) and (max-width: 991px) and (max-width: 503px) {
  #mainBlock .competences .polygone {
    width: 42px;
    height: 42px;
    left: 43%;
  }
}
#mainBlock .competences .competencesList {
  margin-bottom: 0px;
  padding: 20px 20px 15px 40px;
  background-color: #021b2f;
}
@media (max-width: 1199px) and (max-width: 991px) {
  #mainBlock .competences .competencesList {
    padding: 20px 10px 0px 50px;
  }
}
@media (max-width: 1199px) and (max-width: 991px) and (max-width: 503px) {
  #mainBlock .competences .competencesList {
    padding: 15px 10px 0px 30px;
  }
}
#mainBlock .competences .competencesList .competence {
  position: relative;
  list-style: none;
  padding-top: 10px;
}
@media (max-width: 991px) {
  #mainBlock .competences .competencesList .competence {
    padding-top: 15px;
  }
}
@media (max-width: 991px) and (max-width: 503px) {
  #mainBlock .competences .competencesList .competence {
    padding-top: 10px;
  }
}
#mainBlock .competences .competencesList .competence .text {
  font-size: 1.5em;
  font-family: 'Avenir', sans-serif;
  font-weight: bold;
  color: #96a9b9;
}
@media (max-width: 1199px) {
  #mainBlock .competences .competencesList .competence .text {
    font-size: 1.3em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #mainBlock .competences .competencesList .competence .text {
    font-size: 1.3em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) and (max-width: 503px) {
  #mainBlock .competences .competencesList .competence .text {
    font-size: 1.1em;
  }
}
#mainBlock .competences .competencesList .competence .level {
  position: absolute;
  left: 50%;
  top: 60%;
  width: 35%;
  height: 2px;
  background-color: #96a9b9;
}
@media (max-width: 991px) {
  #mainBlock .competences .competencesList .competence .level {
    width: 25%;
    left: 60%;
  }
}
@media (max-width: 991px) and (max-width: 503px) {
  #mainBlock .competences .competencesList .competence .level {
    height: 1px;
  }
}
#mainBlock .competences .competencesList .competence .level .myLevel {
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: #9e3643;
  transition: width 1.5s;
}
#mainBlock .competences .competencesList .competence .level .niveau1 {
  width: 25%;
}
#mainBlock .competences .competencesList .competence .level .niveau2 {
  width: 50%;
}
#mainBlock .competences .competencesList .competence .level .niveau3 {
  width: 75%;
}
#mainBlock .competences .competencesList .competence .level .levelBall {
  position: absolute;
  left: 23%;
  top: -2px;
  width: 6px;
  height: 6px;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: #96a9b9;
  transition: background-color 0.2s;
}
@media (max-width: 991px) {
  #mainBlock .competences .competencesList .competence .level .levelBall {
    width: 8px;
    height: 8px;
    top: -3px;
  }
}
@media (max-width: 991px) and (max-width: 503px) {
  #mainBlock .competences .competencesList .competence .level .levelBall {
    width: 5px;
    height: 5px;
    top: -2px;
  }
}
#mainBlock .competences .competencesList .competence .level .levelBall2 {
  left: 48%;
}
#mainBlock .competences .competencesList .competence .level .levelBall3 {
  left: 73%;
}
#mainBlock .competences .competencesList .competence .level .levelBall4 {
  left: 98%;
}
#mainBlock .competences .competencesList .competence .level .reached {
  background-color: #9e3643;
}
#mainBlock .infoExperience {
  padding: 0px;
  background-color: #3d5366;
}
@media (min-width: 991px) {
  #mainBlock .infoExperience {
    height: 100%;
  }
}
#mainBlock .infoExperience .infos {
  font-family: 'Avenir', sans-serif;
  font-weight: bold;
  color: #021b2f;
  text-shadow: 1px 1px 3px rgba(90, 90, 90, 0.25);
  padding: 0px 35px;
  background-color: #96a9b9;
  /*.rightInfo {
				position: absolute;
				left: 82%;
				@media (max-width: 991px) {
						font-size: 2.0em;

					@media (max-width: 553px) {
						left: 80%;

						@media (max-width: 503px) {
							left: 0; top: 175%;

							@media (max-width: 343px) {
								top: 225%;

								@media (max-width: 314px) {
									top: 175%;
								}
							}
						}
					}
				}
			}

			.botInfo .rightInfo {
				@media (max-width: 503px) {
					left: 0; top: 140%;

					@media (max-width: 343px) {
						top: 120%;
					}
				}
			}*/
}
#mainBlock .infoExperience .infos .topInfo {
  position: relative;
  padding: 15px 0px 0px;
}
#mainBlock .infoExperience .infos .botInfo {
  position: relative;
  padding: 0px 0px 13px;
}
@media (max-width: 1199px) {
  #mainBlock .infoExperience .infos .botInfo {
    padding: 3px 0px 15px;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #mainBlock .infoExperience .infos .botInfo {
    padding: 0px 0px 13px;
  }
}
#mainBlock .infoExperience .infos .rightInfo,
#mainBlock .infoExperience .infos .leftInfo {
  font-size: 1.8em;
}
@media (max-width: 1199px) {
  #mainBlock .infoExperience .infos .rightInfo,
  #mainBlock .infoExperience .infos .leftInfo {
    font-size: 1.5em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #mainBlock .infoExperience .infos .rightInfo,
  #mainBlock .infoExperience .infos .leftInfo {
    font-size: 3.0em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) and (max-width: 503px) {
  #mainBlock .infoExperience .infos .rightInfo,
  #mainBlock .infoExperience .infos .leftInfo {
    font-size: 3.0em;
    padding-bottom: 50px;
  }
}
#mainBlock .infoExperience .experiences {
  position: relative;
  font-family: 'Avenir', sans-serif;
  padding: 0px 35px;
  background-color: #3d5366;
}
@media (max-width: 1199px) {
  #mainBlock .infoExperience .experiences {
    padding: 0px 24px;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #mainBlock .infoExperience .experiences {
    padding: 0px 15px;
  }
}
#mainBlock .infoExperience .experiences .titre {
  font-family: 'Avenir', sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #96a9b9;
  text-shadow: 1px 1px 2px rgba(2, 27, 47, 0.5);
  margin: 0px;
  padding: 25px 0px 0px;
}
@media (max-width: 1199px) {
  #mainBlock .infoExperience .experiences .titre {
    font-size: 2.2em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #mainBlock .infoExperience .experiences .titre {
    font-size: 2em;
    padding: 25px 20px 0px;
  }
}
@media (max-width: 1199px) and (max-width: 991px) and (max-width: 503px) {
  #mainBlock .infoExperience .experiences .titre {
    font-size: 1.5em;
    text-align: center;
  }
}
#mainBlock .infoExperience .experiences .leftBar {
  position: absolute;
  top: 75px;
  left: 5%;
  z-index: 2;
  width: 2px;
  height: 70%;
  background-color: #021b2f;
}
@media (max-width: 991px) {
  #mainBlock .infoExperience .experiences .leftBar {
    left: 32px;
  }
}
#mainBlock .infoExperience .experiences .contenu {
  padding: 20px 0px 15px;
}
#mainBlock .infoExperience .experiences .contenu .experience {
  position: relative;
  padding-left: 25px;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  #mainBlock .infoExperience .experiences .contenu .experience {
    padding-left: 34px;
  }
}
#mainBlock .infoExperience .experiences .contenu .experience .titreExp {
  position: relative;
  font-family: 'Avenir', sans-serif;
  font-weight: bold;
  font-size: 1.8em;
  color: #e0e0e0;
  text-shadow: 1px 1px 2px rgba(6, 91, 161, 0.5);
  margin: 0px;
}
@media (max-width: 1199px) {
  #mainBlock .infoExperience .experiences .contenu .experience .titreExp {
    font-size: 1.5em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #mainBlock .infoExperience .experiences .contenu .experience .titreExp {
    font-size: 1.5em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) and (max-width: 503px) {
  #mainBlock .infoExperience .experiences .contenu .experience .titreExp {
    font-size: 1.3em;
  }
}
#mainBlock .infoExperience .experiences .contenu .experience .titreExp .leftPointer {
  position: absolute;
  top: 35%;
  left: -3.6%;
  z-index: 3;
  width: 10px;
  height: 10px;
  border: 0px solid transparent;
  border-radius: 6px;
  background-color: #96a9b9;
}
@media (max-width: 991px) {
  #mainBlock .infoExperience .experiences .contenu .experience .titreExp .leftPointer {
    top: 25%;
    left: -21px;
  }
}
#mainBlock .infoExperience .experiences .contenu .experience .titreExp .selector {
  position: absolute;
  top: 20%;
  left: -4.2%;
  z-index: 1;
  width: 18px;
  height: 18px;
  border: 2px solid transparent;
  border-radius: 18px;
  border-color: #96a9b9;
}
@media (max-width: 1199px) {
  #mainBlock .infoExperience .experiences .contenu .experience .titreExp .selector {
    top: 17%;
    left: -4.3%;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #mainBlock .infoExperience .experiences .contenu .experience .titreExp .selector {
    top: 10%;
    left: -25px;
  }
}
@media (max-width: 1199px) and (max-width: 991px) and (max-width: 562px) {
  #mainBlock .infoExperience .experiences .contenu .experience .titreExp .selector {
    top: 12%;
  }
}
#mainBlock .infoExperience .experiences .contenu .experience .titreExp .noLeft {
  border-left: none;
}
#mainBlock .infoExperience .experiences .contenu .experience .titreExp .noRight {
  border-right: none;
}
#mainBlock .infoExperience .experiences .contenu .experience .titreExp .noTop {
  border-top: none;
}
#mainBlock .infoExperience .experiences .contenu .experience .titreExp .noBottom {
  border-bottom: none;
}
#mainBlock .infoExperience .experiences .contenu .experience .titreExp .clicked {
  background-color: #065ba1;
  z-index: 3;
}
#mainBlock .infoExperience .experiences .contenu .experience .contenuExp {
  font-size: 1.5em;
  color: #e0e0e0;
  margin: 0px;
  display: none;
}
@media (max-width: 1199px) {
  #mainBlock .infoExperience .experiences .contenu .experience .contenuExp {
    font-size: 1.3em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #mainBlock .infoExperience .experiences .contenu .experience .contenuExp {
    font-size: 1.3em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) and (max-width: 503px) {
  #mainBlock .infoExperience .experiences .contenu .experience .contenuExp {
    font-size: 1.1em;
  }
}
#mainBlock .infoExperience .experiences .contenu .experience:hover {
  cursor: pointer;
}
#secondBlock {
  margin-top: 60px;
}
@media (max-width: 991px) {
  #secondBlock {
    margin-top: 0px;
  }
}
#secondBlock .formations {
  padding: 0px;
}
@media (max-width: 991px) {
  #secondBlock .formations {
    padding-top: 40px;
    border-right: 3px solid #065ba1;
  }
}
@media (max-width: 991px) and (max-width: 503px) {
  #secondBlock .formations {
    padding-top: 30px;
  }
}
#secondBlock .formations .titre {
  font-family: 'Avenir', sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  color: #021b2f;
  text-shadow: 1px 1px 2px rgba(2, 27, 47, 0.5);
  text-align: center;
  margin: 0px;
}
@media (max-width: 1199px) {
  #secondBlock .formations .titre {
    font-size: 2.2em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #secondBlock .formations .titre {
    font-size: 2em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) and (max-width: 503px) {
  #secondBlock .formations .titre {
    font-size: 1.5em;
  }
}
#secondBlock .formations .contentForm {
  padding: 30px 30px 0px 0px;
  margin-bottom: 0px;
}
@media (max-width: 991px) {
  #secondBlock .formations .contentForm {
    padding: 0px;
  }
}
#secondBlock .formations .contentForm .formation {
  list-style: none;
  color: #460008;
  padding: 5px 0px 5px 30px;
}
@media (max-width: 991px) {
  #secondBlock .formations .contentForm .formation {
    padding: 1px 30px;
  }
}
@media (max-width: 991px) and (max-width: 503px) {
  #secondBlock .formations .contentForm .formation {
    padding: 1px 30px;
  }
}
#secondBlock .formations .contentForm .formation .titreForm {
  font-family: 'Avenir', sans-serif;
  font-weight: bold;
  font-size: 1.8em;
}
@media (max-width: 1199px) {
  #secondBlock .formations .contentForm .formation .titreForm {
    font-size: 1.5em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #secondBlock .formations .contentForm .formation .titreForm {
    font-size: 1.5em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) and (max-width: 503px) {
  #secondBlock .formations .contentForm .formation .titreForm {
    font-size: 1.3em;
  }
}
#secondBlock .formations .contentForm .formation .contenuForm {
  font-family: 'Avenir', sans-serif;
  font-size: 1.5em;
}
@media (max-width: 1199px) {
  #secondBlock .formations .contentForm .formation .contenuForm {
    font-size: 1.3em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #secondBlock .formations .contentForm .formation .contenuForm {
    font-size: 1.3em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) and (max-width: 503px) {
  #secondBlock .formations .contentForm .formation .contenuForm {
    font-size: 1.1em;
  }
}
#secondBlock .formations .contentForm .last {
  color: #021b2f;
  margin-top: 20px;
  background-color: #96a9b9;
  box-shadow: 1px 2px 5px #909090;
}
@media (max-width: 991px) {
  #secondBlock .formations .contentForm .last {
    border-bottom: 3px solid #065ba1;
  }
}
#secondBlock .formations .contentForm .last .titreForm {
  text-shadow: 1px 1px 1px rgba(2, 27, 47, 0.25);
}
#secondBlock .projets {
  padding: 0px;
  padding-bottom: 40px;
  border-left: 3px solid #065ba1;
}
@media (max-width: 991px) {
  #secondBlock .projets {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}
@media (max-width: 991px) and (max-width: 503px) {
  #secondBlock .projets {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
#secondBlock .projets .titre {
  font-family: 'Avenir', sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  color: #021b2f;
  text-shadow: 1px 1px 2px rgba(2, 27, 47, 0.5);
  text-align: center;
  margin: 0px;
}
@media (max-width: 1199px) {
  #secondBlock .projets .titre {
    font-size: 2.2em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #secondBlock .projets .titre {
    font-size: 2em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) and (max-width: 503px) {
  #secondBlock .projets .titre {
    font-size: 1.5em;
  }
}
#secondBlock .projets .contentProj {
  padding: 30px 30px 0px 0px;
  margin-bottom: 0px;
}
@media (max-width: 991px) {
  #secondBlock .projets .contentProj {
    padding: 0px;
  }
}
#secondBlock .projets .contentProj .projet {
  list-style: none;
  color: #460008;
  padding: 5px 0px 5px 30px;
}
@media (max-width: 991px) {
  #secondBlock .projets .contentProj .projet {
    padding: 1px 30px;
  }
}
@media (max-width: 991px) and (max-width: 503px) {
  #secondBlock .projets .contentProj .projet {
    padding: 1px 30px;
  }
}
#secondBlock .projets .contentProj .projet .titreProj {
  font-family: 'Avenir', sans-serif;
  font-weight: bold;
  font-size: 1.8em;
}
@media (max-width: 1199px) {
  #secondBlock .projets .contentProj .projet .titreProj {
    font-size: 1.5em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #secondBlock .projets .contentProj .projet .titreProj {
    font-size: 1.5em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) and (max-width: 503px) {
  #secondBlock .projets .contentProj .projet .titreProj {
    font-size: 1.3em;
  }
}
#secondBlock .projets .contentProj .projet .contenuProj {
  font-family: 'Avenir', sans-serif;
  font-size: 1.5em;
}
@media (max-width: 1199px) {
  #secondBlock .projets .contentProj .projet .contenuProj {
    font-size: 1.3em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #secondBlock .projets .contentProj .projet .contenuProj {
    font-size: 1.3em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) and (max-width: 503px) {
  #secondBlock .projets .contentProj .projet .contenuProj {
    font-size: 1.1em;
  }
}
#secondBlock .projets .contentProj .last {
  color: #96a9b9;
  margin-top: 65px;
  padding-bottom: 10px;
  padding-left: 25px;
  background-color: #021b2f;
  box-shadow: 1px 2px 5px #909090;
}
@media (max-width: 1199px) {
  #secondBlock .projets .contentProj .last {
    padding-left: 20px;
    padding-right: 15px;
    margin-top: 42px;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #secondBlock .projets .contentProj .last {
    margin-top: 30px;
  }
}
#secondBlock .projets .contentProj .last .titreProj {
  text-shadow: 1px 1px 2px rgba(150, 169, 185, 0.25);
}
#aboutMe {
  background-color: #021b2f;
  box-shadow: 1px 2px 5px #909090;
  margin: 60px 0px;
  padding-bottom: 20px;
}
@media (max-width: 991px) {
  #aboutMe {
    margin: 0px;
    margin-right: -15px;
    margin-left: -15px;
  }
}
#aboutMe .titre {
  font-family: 'Avenir', sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  color: #96a9b9;
  margin: 0px;
  padding: 15px 20px 0px;
}
@media (max-width: 1199px) {
  #aboutMe .titre {
    font-size: 2.2em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #aboutMe .titre {
    font-size: 2em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) and (max-width: 503px) {
  #aboutMe .titre {
    font-size: 1.5em;
  }
}
#aboutMe .contenu .titreDetail {
  font-family: 'Avenir', sans-serif;
  font-weight: bold;
  font-size: 1.8em;
  color: #9e3643;
  margin: 0px;
}
@media (max-width: 1199px) {
  #aboutMe .contenu .titreDetail {
    font-size: 1.5em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #aboutMe .contenu .titreDetail {
    font-size: 1.5em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) and (max-width: 503px) {
  #aboutMe .contenu .titreDetail {
    font-size: 1.3em;
  }
}
#aboutMe .contenu .listAboutMe {
  padding: 5px 0px;
}
#aboutMe .contenu .listAboutMe .infoAboutMe {
  list-style: none;
  font-family: 'Avenir', sans-serif;
  font-size: 1.5em;
  color: #96a9b9;
}
@media (max-width: 1199px) {
  #aboutMe .contenu .listAboutMe .infoAboutMe {
    font-size: 1.3em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #aboutMe .contenu .listAboutMe .infoAboutMe {
    font-size: 1.3em;
  }
}
@media (max-width: 1199px) and (max-width: 991px) and (max-width: 503px) {
  #aboutMe .contenu .listAboutMe .infoAboutMe {
    font-size: 1.1em;
  }
}
#aboutMe .contenu .resSoc {
  padding: 0px;
  padding-top: 30px;
}
@media (max-width: 1199px) {
  #aboutMe .contenu .resSoc {
    padding-top: 15px;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #aboutMe .contenu .resSoc {
    padding-bottom: 20px;
    padding-left: 7%;
  }
}
#aboutMe .contenu .resSoc .listRs {
  position: relative;
  padding: 10px 0px;
  height: 50px;
}
@media (max-width: 991px) {
  #aboutMe .contenu .resSoc .listRs {
    width: 200px;
  }
}
#aboutMe .contenu .resSoc .listRs .infoRs {
  position: absolute;
  width: 48px;
  height: 49px;
  list-style: none;
  display: inline;
}
@media (max-width: 991px) {
  #aboutMe .contenu .resSoc .listRs .infoRs {
    left: 0;
  }
}
#aboutMe .contenu .resSoc .listRs .infoRs .hoverRs {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 49px;
  display: none;
}
#aboutMe .contenu .resSoc .listRs .infoRs.rs0 .hoverRs {
  background-image: url('img/twitterColor.png');
}
#aboutMe .contenu .resSoc .listRs .infoRs.rs1 .hoverRs {
  background-image: url('img/linkedinColor.png');
}
#aboutMe .contenu .resSoc .listRs .infoRs.rs2 .hoverRs {
  background-image: url('img/githubColor.png');
}
#aboutMe .contenu .resSoc .listRs .infoRs:hover {
  cursor: pointer;
}
#aboutMe .contenu .resSoc .listRs .infoRs:hover img {
  visibility: hidden;
}
#aboutMe .contenu .resSoc .listRs .infoRs:hover .hoverRs {
  display: initial;
}
#aboutMe .contenu .resSoc .listRs .rs0 {
  left: 30%;
}
#aboutMe .contenu .resSoc .listRs .rs1 {
  left: 45%;
}
#aboutMe .contenu .resSoc .listRs .rs2 {
  left: 60%;
}
@media (max-width: 1199px) {
  #aboutMe .contenu .resSoc .listRs .rs0 {
    left: 27%;
  }
  #aboutMe .contenu .resSoc .listRs .rs1 {
    left: 45%;
  }
  #aboutMe .contenu .resSoc .listRs .rs2 {
    left: 63%;
  }
}
@media (max-width: 991px) {
  #aboutMe .contenu .resSoc .listRs .rs0 {
    left: 0%;
  }
  #aboutMe .contenu .resSoc .listRs .rs1 {
    left: 30%;
  }
  #aboutMe .contenu .resSoc .listRs .rs2 {
    left: 60%;
  }
}
#aboutMe .contenu .resSoc .titreDetail {
  text-align: center;
}
@media (max-width: 991px) {
  #aboutMe .contenu .resSoc .titreDetail {
    text-align: initial;
  }
}
#aboutMe .contenu .iAm {
  padding: 0px;
  padding-left: 7%;
}
#aboutMe .contenu .iLike {
  padding: 0px;
  padding-left: 7%;
}
/*# sourceMappingURL=style.css.map */